* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-2 {
  width: 50%;
  padding: 15px;
}

.box {

}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card-img {
  position: relative;
  max-width: 250px;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 10px;
}

.btn-cart {
  position: absolute;
  top: -20px;
  right: -20px;
  padding: 5px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.img-cart {
  max-width: 30px;
  width: 100%;
  height: auto;
  display: block;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-info__title {
  font-size: 24px;
}

.card-info__desc {
  font-size: 14px;
}

.rates {
  max-width: 20px;
}

.price {
  font-weight: bold;
}

h1 {
  text-align: center;
  padding-top: 50px;
}